.idea/.name
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/atomic_commit.cpython-312.pyc
src/atomic_commit.egg-info/PKG-INFO
src/atomic_commit.egg-info/SOURCES.txt
src/atomic_commit.egg-info/dependency_links.txt
src/atomic_commit.egg-info/entry_points.txt
src/atomic_commit.egg-info/requires.txt
src/atomic_commit.egg-info/top_level.txt